@font-face {
    font-family: 'PoppinsRegular';
    src: url('../../../../../public/Fonts/Poppins-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../../../../../public/Fonts/Poppins-Medium.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('../../../../../public/Fonts/Poppins-Light.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('../../../../../public/Fonts/Poppins-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsBlack';
    src: url('../../../../../public/Fonts/Poppins-Black.ttf') format('woff2');
}

.motivation-main{
    width: 100%;
}

.mrganbott{
    margin-bottom: 3rem;
}

.motivation-video{
    width: 100%;
    margin-top: 74px;
}

.motivationn-main{
    width: 100%;
    background-color: white;
    padding-top: 74px;
    position: relative;
    padding-top: 15vh;
    padding-bottom: 10vh;

}

.motivation-wrapper{
    width: 90%;
    margin: 0 auto;

}

.center-headers{
    text-align: center;
}

.header-wrapper {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.text-regular-semibold {
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.0rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 12px;
}

.heading-desktop-h3 {
    font-size: clamp(2rem, 1.7642rem + 1.3974vw, 4rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
}

.text-medium-normal {
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.25rem);
    font-family: 'PoppinsRegular';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 24px;
}

.hero-button {
    padding: 12px 24px;
    border-radius: 50px;
    background-color: #FF5043;
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: 10px 0;
    align-self: flex-start;
    font-size: 1rem;
}

.blackbg {
    background-color: #000;
    color: white;
    border: 2px solid white;
}

.services-offered-row{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}

.sefvice-cell{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    text-align: center;
}

.relume-icon{
    width: 48px;
    height: 48px;
}

.heading-desktop-h6 {
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.25rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    margin-top: 12px;
}

.text-regular-normal {
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.0rem);
    font-family: 'PoppinsRegular';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 12px;
}

.bigger{
    font-size: clamp(1.25rem, 1.0437rem + 1.2227vw, 3rem) !important;
}

.button-middler{
    text-align: center;
}

.hero-button {
    padding: 12px 24px;
    border-radius: 50px;
    background-color: #FF5043;
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: 10px 0;
    align-self: flex-start;
    font-size: 1rem;
}

.black-button {
    background-color: #000;
}

.mot-row{
    display: flex;
    justify-content: space-between;

}

.mot-left{
    width: 65%;
}

.mot-right{
    width: 25%;
}

.header-wrapperr{
    text-align: left;
}

.sefvice-celll{
    width: 30%;
}

.ser-img{
    width: 100%;
    border-radius: 10px;
}

.border{
    border-radius: 10px !important;
}

@media (max-width: 1600px) {
    .header-wrapper {
        width: 60%;
    }

    .mot-row{
        flex-direction: column;
    }

    .mot-left{
        width: 100%;
        margin-bottom: 3rem;
    }

    .mot-right{
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .mot-row{
        flex-direction: column;
    }

    .mot-left{
        width: 100%;
        margin-bottom: 3rem;
    }

    .mot-right{
        width: 100%;
    }

    .header-wrapper {
        width: 70%;
    }
}

@media (max-width: 750px) {
    .header-wrapper {
        width: 100%;
    }

    .services-offered-row{
        flex-direction: column;
    }

    .sefvice-celll{
        width: 100%;
        margin-bottom: 64px;
    }

    .motivationn-main{
        
        padding-bottom: 0vh;
    
    }

    
}