@font-face {
    font-family: 'PoppinsRegular';
    src: url('../../../../../public/Fonts/Poppins-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../../../../../public/Fonts/Poppins-Medium.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('../../../../../public/Fonts/Poppins-Light.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('../../../../../public/Fonts/Poppins-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsBlack';
    src: url('../../../../../public/Fonts/Poppins-Black.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsLightItalic';
    src: url('../../../../../public/Fonts/Poppins-LightItalic.ttf') format('woff2');
}

.mission-main{
    width: 100%;
    padding: 10vh 0;
    background-color: #f9f9f9;

}

.mission-wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.mission-left{
    width: 50%;	
    display: flex;
    flex-direction: column;
justify-content: center;}

.mission-right{
    width: 40%;	
}

.happy-img{
    width: 100%;
    border-radius: 0px;
}

.black{
    color: black;
}

.heading-desktop-h3{
    font-size: clamp(2rem, 1.7642rem + 1.3974vw, 4rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
}

.text-medium-normal{
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.25rem);
    font-family: 'PoppinsRegular';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 24px;
}

.text-regular-semibold{
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.0rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 12px;
}

.missions-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading-desktop-h6{
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.25rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    margin-top: 12px;
}

.text-regular-normal{
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.0rem);
    font-family: 'PoppinsRegular';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 12px;

}

.left-row-cell{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.relume-icon{
    width: 48px;
    height: 48px;
}


.left-row{
    display: flex;
    width: 100%;
}

.left-row-cell-wrapper{
    width: 80%;
}

@media (max-width: 1200px) {
    .left-wrapper{
        width: 100%;
        margin-bottom: 64px;
    }

    .left-row{
        justify-content: space-between;
    }

    .left-row-cell{
        width: 40%;
    }

    .left-row-cell-wrapper{
        width: 100%;
    }

    .mission-wrapper{
        flex-direction: column;
    }

    .mission-left{
        width: 100%;
        margin-bottom: 64px;
    }

    .mission-right{
        width: 100%;
    }

    .left-row-cell-wrapper{
        width: 90%;
    }

}

@media (max-width: 600px) {
    .left-row{
        flex-direction: column;
    }

    .left-row-cell{
        width: 100%;
        margin-bottom: 24px;
    }

    .happy-img{
        border-radius: 0px;
    }

}