@font-face {
    font-family: 'PoppinsRegular';
    src: url('../../../../../public/Fonts/Poppins-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../../../../../public/Fonts/Poppins-Medium.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('../../../../../public/Fonts/Poppins-Light.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('../../../../../public/Fonts/Poppins-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsBlack';
    src: url('../../../../../public/Fonts/Poppins-Black.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsLightItalic';
    src: url('../../../../../public/Fonts/Poppins-LightItalic.ttf') format('woff2');
}

.shadows-for-transition{
    width: 100%;
    height: 100vh;
    z-index: 99999999999;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .show-shadow{
    opacity: 1;
  }
  
.portfolio-main{
    width: 100%;
    padding: 10vh 0;
}

.portfolio-wrapper{
    width: 90%;
    margin: 0 auto;
}

.black{
    color: black;
}

.heading-desktop-h3{
    font-size: clamp(2rem, 1.7642rem + 1.3974vw, 4rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
}

.text-medium-normal{
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.25rem);
    font-family: 'PoppinsRegular';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 24px;
}

.text-regular-semibold{
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.0rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 12px;
}

.portfolio-header-center{
    text-align: center;
}

.portfolio-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.portfolio-images-left, .portfolio-images-right {
    flex: 1;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: flex 0.3s ease-in-out;
}

.trainer-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.portfolio-images-left:hover {
    flex: 1.5;
}

.portfolio-images-right:hover {
    flex: 1.5;
}

.portfolio-images-left:hover ~ .portfolio-images-right {
    flex: 0.8;
}

.portfolio-images-right:hover ~ .portfolio-images-left {
    flex: 0.8;
}


.name-on-image{
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 2;

}

.portfolio-images-left::after, .portfolio-images-right::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-radius: 50px;
    z-index: 1;
    pointer-events: none;
}

.section-indicator{
    background-color: #4D4D4D;
    border-radius: 4px;
    padding: 6px 12px;
    box-sizing: border-box;
    width: auto;
    display: inline-block;
    margin-bottom: 3rem;
    color: white !important;
}

.alignself{
    align-self: flex-start; /* Ensures it doesn't stretch to full width */

}

.align-left{
    text-align: left;
}

.lighter{
    background-color: #f1f1f1 !important;
    color: #000 !important;
}

@media (max-width: 999px) {
    .portfolio-main{
        width: 100%;
        padding: 0vh 0;
        padding-bottom: 10vh;
    }

    .portfolio-images {
        flex-direction: column;
        align-items: center;
    }
    .portfolio-images-left, .portfolio-images-right {
        width: 100%;
        margin: 10px 0;
    }
    .trainer-img {
        height: auto;
        border-radius: 10px;

    }


    
.portfolio-images-left::after, .portfolio-images-right::after {
    
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-radius: 10px;
    
}

    
    
}