@font-face {
    font-family: 'PoppinsRegular';
    src: url('../../../../../public/Fonts/Poppins-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../../../../../public/Fonts/Poppins-Medium.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('../../../../../public/Fonts/Poppins-Light.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('../../../../../public/Fonts/Poppins-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsBlack';
    src: url('../../../../../public/Fonts/Poppins-Black.ttf') format('woff2');
}

@font-face {
    font-family: 'PoppinsLightItalic';
    src: url('../../../../../public/Fonts/Poppins-LightItalic.ttf') format('woff2');
}

.heading-desktop-h6{
  font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.25rem);
  font-family: 'PoppinsBold';
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  margin-top: 12px;
}

.izguba-main{
    width: 100%;
    padding: 15vh 0;
    background-color: white;
}

.tmp{
  height: 100vh;
}

.izguba-wrapper{
    width: 90%;
    margin: 0 auto;
}

.hero-button {
    padding: 12px 24px;
    border-radius: 50px;
    background-color: #FF5043;
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: 10px 0;
    align-self: flex-start;
    font-size: 1rem;
}

.black-button {
    background-color: #000;
}

.full-width {
    width: 70%;
    margin-top: 12px;
}

.izguba-img-wrapper{
    width: 70%;
    margin: 0 auto;
}

.izguba-content-wrapper{
    width: 70%;
    margin: 0 auto;
    margin-top: 32px;
}

.blackbg {
    background-color: #000;
    color: white;
    border: 2px solid white;
}

.blogpost-img{
    width: 100%;
    border-radius: 32px;
}

.text-regular-semibold{
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.0rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 12px;
}

.heading-desktop-h3{
    font-size: clamp(2rem, 1.7642rem + 1.3974vw, 4rem);
    font-family: 'PoppinsBold';
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
}

.text-medium-normal{
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.25rem);
    font-family: 'PoppinsRegular';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 24px;
}

.black{
    color: #000;
}

.blog-post-urnik{
    padding: 24px 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 32px;
    width: 50%;
}

.target-section{
    margin-top: 32px;
}

html {
    scroll-behavior: smooth;
  }
  
  .smooth-scroll {
    cursor: pointer;
    text-decoration: none;
    color: #000; /* Adjust color as needed */
    font-size: clamp(1rem, 0.9705rem + 0.1747vw, 1.0rem);
    font-family: 'PoppinsMedium';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-top: 24px;
  }
  
  .smooth-scroll:hover {
    text-decoration: underline; /* Optional: for better user experience */
  }

  .blog-link-wrapper{
    padding: 12px 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
  }

  .blog-link-wrapper:hover{
    background-color: #f9f9f9;
  }

  .transformed-for-link{
    transform: translateY(-74px);
  }

  .bullet-points-wrapper{
    padding-left: 12px;
  }

  .bullet-row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 12px;
  }

  .bullet{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #000;
    margin-right: 12px;
    margin-top: 6px;
    flex-shrink: 0; /* Prevent the bullet from shrinking */

  }

  .normrennr{
    margin-top: 0;
  }

  .target-divider{
    width: 100%;
    display: flex;
    margin-top: 32px;
  }

  .target-left{
    width: 50%;
  }

  .target-right{
    width: 50%;
  }

  .blogger-img{
    width: 100%;
    border-radius: 10px;
  }

  .boldovanop{
    font-weight: bold;
  }

  .left-toright{
    padding-left: 32px;
  }

  @media (max-width: 1600px) {
    .izguba-img-wrapper{
        width: 90%;
        margin: 0 auto;
    }
    
    .izguba-content-wrapper{
        width: 90%;
        margin: 0 auto;
        margin-top: 32px;
    }

    .blog-post-urnik{
        width: 60%;
    }
    
  }

  @media (max-width: 1200px) {
    .izguba-img-wrapper{
        width: 100%;
        margin: 0 auto;
    }
    
    .izguba-content-wrapper{
        width: 100%;
        margin: 0 auto;
        margin-top: 32px;
    }

    .blog-post-urnik{
        width: 70%;
    }
    
  }

  .marginleft{
    margin-left: 32px;
  }

  @media (max-width: 1000px) {
    .marginleft{
      margin-left: 0px;
    }
    .izguba-content-wrapper{
        width: 100%;
        margin: 0 auto;
        margin-top: 32px;
    }
    .blog-post-urnik{
        width: 90%;
    }

    .target-divider{
        flex-direction: column;
    }

    .target-left{
        width: 100%;
        margin-bottom: 32px;
    }

    .target-right{
        width: 100%;
        margin-bottom: 32px;
    }

    .left-toright{
        padding-left: 0px;
      }

      .blogger-img{
        border-radius: 10px;
      }

      .blogpost-img{
        border-radius: 10px;
      }
  }